<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Travel App
    </title>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <main>
      <section class="hero is-primary">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">Trip Planner</h1>
            <h2 class="subtitle">
              Plan you trip to the destination of your choice. Keep track of all
              your trips here.
            </h2>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <h1 class="title">Plan a Trip</h1>
          <div class="columns is-centered">
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <form>
                    <div class="field">
                      <label for="country" class="label">Country</label>
                      <div class="control">
                        <div class="select">
                          <select
                            disabled
                            id="countrySelect"
                            data-id="country"
                            class="is-loading"
                          >
                            <option disabled
                              >Please Select A Country First</option
                            >
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <label for="city" class="label">City</label>
                      <div class="control">
                        <input
                          id="cityInput"
                          placeholder="Loading Cities..."
                          type="text"
                          class="input"
                          data-id="city"
                          required
                        />
                      </div>
                    </div>
                    <div class="field">
                      <label for="dateInput" class="label"
                        >When are you leaving?</label
                      >
                      <div class="control">
                        <input
                          id="dateInput"
                          type="date"
                          class="input"
                          data-id="date"
                          required
                        />
                      </div>
                    </div>
                    <div class="field">
                      <label for="lengthInput" class="label"
                        >How many days?</label
                      >
                      <div class="control">
                        <input
                          required
                          data-id="length"
                          id="lengthInput"
                          min="1"
                          value="7"
                          type="number"
                          class="input"
                        />
                      </div>
                    </div>
                    <div class="field">
                      <label class="label">Weather Units</label>
                      <div class="control">
                        <label class="radio">
                          <input
                            id="metric_radio"
                            checked
                            type="radio"
                            name="units"
                          />
                          Celsius
                        </label>
                        <label class="radio">
                          <input
                            id="imperial_radio"
                            type="radio"
                            name="units"
                          />
                          Fahrenheit
                        </label>
                      </div>
                    </div>
                    <div class="class control">
                      <button
                        id="submit"
                        disabled
                        class="button is-primary is-outlined"
                      >
                        Submit
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <h1 class="title">My Trips</h1>
          <div class="columns is-multiline" id="upcoming-trips"></div>
          <h1 class="title">Past Trips</h1>
          <div class="columns is-multiline" id="past-trips"></div>
        </div>
      </section>
    </main>
    <footer class="footer has-background-grey">
      <div class="level has-text-white has-text-centered">
        <div class="level-item">
          <figure class="image is-96x96">
            <img src="../images/pixabay-logo.svg" alt="pixabay-logo" />
            <figcaption>Images Provided By Pixabay</figcaption>
          </figure>
        </div>

        <div class="level-item">
          <small>&copy; Sean Dickinson 2020</small>
        </div>
      </div>
    </footer>
  </body>
  <script>
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", () => {
        navigator.serviceWorker.register("/service-worker.js");
      });
    }
  </script>
</html>
